.place__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen /* от вертикального до горизонтального положения планшета */
  and (min-width: 768px)
  and (max-width: 1024px) {
    .place__title {
      font-size: 42px;
      line-height: 1.1;
    }
}

@media screen /* от маленького смартфона до вертикального положения планшета */
  and (max-width: 768px) {
    .place__title {
      width: calc(100% - 16px * 2);
      margin-left: 16px;
      font-size: 32px;
      line-height: 1.09;
    }
}
