@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slntwght.ttf') format('ttf');
  font-weight: 400 700 900;
}
.page {
  background-color: #2A2C2F;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: white;
}
