.photo-grid {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 92px 48px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}


@media screen /* для небольших ноутбуков */
  and (min-device-width: 1024px)
  and (max-device-width: 1280px) {
    .photo-grid {
      gap: 14px;
    }
}

@media screen /* от вертикального до горизонтального положения планшета */
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .photo-grid {
      padding: 88px 24px;
    }
}

@media screen /* от большого смартфона до вертикального положения планшета */
  and (min-device-width: 425px)
  and (max-device-width: 768px) {

}

@media screen /* мобильные устройства */
  and (max-device-width: 425px) {
    .photo-grid {
      gap: 12px;
      padding: 64px 16px;
    }
}
