.places {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto;
  grid-template-areas:
  "title website"
  "image paragraph"
  "image paragraph";
  row-gap: 80px;
}
