.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-template-areas:
  "title website"
  "image text";
  gap: 48px 40px;
  margin-bottom: 80px;
}


@media screen /* для небольших ноутбуков */
  and (min-device-width: 1024px)
  and (max-device-width: 1280px) {
    .place {
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
      column-gap: 32px;
    }
}

@media screen /* от вертикального до горизонтального положения планшета */
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .place {
      margin-bottom: 72px;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      column-gap: 45px 28px;
    }
}

@media screen /* мобильные устройства */
  and (max-device-width: 767px) {
    .place {
      margin-bottom: 50px;
      grid-template-columns: 100%;
      grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    }
}
