.header__lang-link {
  display: inline;
  text-decoration: none;
  margin: 0 0 0 18px;
  color: white;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
}

@media screen /* мобильные устройства */
  and (max-device-width: 425px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 1.11;
    }
}
