.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px;
}

@media screen /* мобильные устройства */
  and (max-width: 425px) {
    .header {
      padding: 16px;
    }
}
