.lead__image {
  display: block;
  margin: 0 auto;
}

@media screen /* от стандартных ноутбуков и до бесконечности */
  and (min-device-width: 1280px) {
    .lead__image {
      width: 76%;
    }
}

@media screen /* для небольших ноутбуков */
  and (min-device-width: 1024px)
  and (max-device-width: 1280px) {
    .lead__image {
      width: 90%;
    }
}

@media screen /* от вертикального до горизонтального положения планшета */
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .lead__image {
      width: 100%;
    }
}

@media screen /* от большого смартфона до вертикального положения планшета */
  and (min-device-width: 425px)
  and (max-device-width: 768px) {
    .lead__image {
      width: 100%;
    }
}

@media screen /* мобильные устройства */
  and (max-device-width: 425px) {
    .lead__image {
      width: 100%;
    }
}
