.lead__image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media screen /* от стандартных ноутбуков и до бесконечности */
  and (min-device-width: 1280px) {
    .lead__image {
      width: 76%;
    }
}

@media screen /* для небольших ноутбуков */
  and (min-device-width: 1024px)
  and (max-device-width: 1280px) {
    .lead__image {
      width: 90%;
    }
}

