.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 32px auto 64px;
  max-width: 640px;
}
@media screen /* от стандартных ноутбуков и до бесконечности */
  and (min-device-width: 1280px) {
    .lead__subtitle {
      margin-bottom: 64px;
    }
}


@media screen /* от вертикального до 1280 */
  and (min-device-width: 768px)
  and (max-device-width: 1280px) {
    .lead__subtitle {
      margin-bottom: 56px;
    }
}

@media screen /* от большого смартфона до вертикального положения планшета */
  and (min-device-width: 425px)
  and (max-device-width: 768px) {
    .lead__subtitle {
      max-width: 288px;
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 40px;
    }
}

@media screen /* мобильные устройства */
  and (max-device-width: 768px) {
    .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 40px;
    }
}
