.cover__overlay {
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  width: 100%;
  position: relative;
}

.cover__overlay:before {
  content: "";
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color .2s ease-in-out;
}

.cover__overlay:hover:before {
  background-color: rgba(42, 44, 47, .8);
}

@media screen /* для небольших ноутбуков */
  and (min-device-width: 1024px)
  and (max-device-width: 1280px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen /* от вертикального до горизонтального положения планшета */
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen /* от большого смартфона до вертикального положения планшета */
  and (max-device-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}
