.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-template-areas:
  "title website"
  "image text";
  gap: 48px 40px;
  margin-bottom: 80px;
}


@media screen /* для небольших ноутбуков */
  and (min-device-width: 1024px)
  and (max-device-width: 1280px) {
    .place {
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
      column-gap: 32px;
    }
}

@media screen /* от вертикального до горизонтального положения планшета */
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .place {
      margin-bottom: 72px;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      column-gap: 28px;
      margin-bottom: 73px;
    }
}

@media screen /* мобильные устройства */
  and (max-device-width: 767px) {
    .place {
      grid-template-columns: 100%;
      margin-bottom: 50px;
      gap: 32px;
      grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    }
}

@media screen and (min-width: 1400px) {
  .place {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    margin-bottom: 73px;
  }
  .place:last-of-type {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 60px;
  }
  .place:last-of-type {
    margin-bottom: 66px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 100%;
    margin-bottom: 50px;
    gap: 32px;
  }
}
